.suppliers {
  &__content {
    margin-top: 40px;
    font-size: 22px;
    padding: 20px;
    border-radius: 20px;
    background-color: #101014;
  }

  &__header {
    border-bottom: 2px solid #25272e;
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    margin-bottom: 20px;
    &-product {
      grid-template-columns: 100px repeat(5, 1fr) 100px;
    }
  }

  &__property {
    text-align: center;
    width: 100%;
    padding-bottom: 15px;

  }
}