.header {
  background-color: #131317;
  padding: 20px 0;

  &__logo {
    height: 70px;
    width: 113px;
    cursor: pointer;
  }

  &__container {
    display: flex;
    align-items: center;
    margin-top: 0 !important;
  }

  .nav {
    display: flex;
    margin-left: 150px;

    &__link {
      cursor: pointer;
      font-weight: 700;
      transition: all 0.15s ease-in;
      font-size: 20px;

      &-active {
        color: #BC2829;
      }

      &:hover {
        color: #BC2829;
      }
    }

    &__link:not(:last-child) {
      margin-right: 60px;
    }
  }
}